body {
    background-color: #3D087B;
    height: 0px;
    
}
img {
    width: 180px;
    height: 80px;
    background-color: #3D087B;
    position: relative;
    bottom: 30px;
}
div {
    text-align: start;
    position: relative;
    left: 100px;
    top: 50px;
}

.default {
    width: 400px;
    height: 240px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    top: -450px;
}
.wakeup {
    width: 25px;
    height: 25px;
    position: relative;
    left: 10px;
    top: 10px;
}
.label1 {
    position: relative;
    left: 20px;
}
.select1 {
    width: 170px;
    position: relative;
    left: 31px;
}
.select2 {
    width: 170px;
    position: relative;
    left: 50px;
}
.select3 {
    width: 170px;
    position: relative;
    left: 65px;
}
.select4 {
    width: 170px;
    position: relative;
    left: 35px;
}
.material-icons {
    color: #3D087B;
    padding-top: 7px;
    padding-left: 10px;
}
.label2 {
    padding-left: 10px;
}
.div1 {
    width: 400px;
    height: 60px;
    background-color:mediumorchid;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
    top: -445px;
    text-align: center;
    padding-top: 20px;
    margin-top: 5px;
}
.but1 {
    width: 170px;
    height: 35px;
    text-align: center;
    color: white;
    position: relative;
    top: -435px;
    left: 100px;
    font-size: 20px;
    border: none;
    background-image: linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%);
}
.div2 {
    width: 220px;
    height: 80px;
    border-radius: 8px;
    opacity: 60%;
    padding-left: 5px;
    position: relative;
    left: 280px;
    top: -470px;
    background-color: mediumorchid;  
}
.div3 {
    width: 170px;
    height: 40px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    color: mediumorchid;
    font-size: 13px;
    position: relative;
    top: -610px;
}
.div11 {
    width: 350px;
    height: 17px;
    background-color: white;
    border-radius: 5px;
    opacity: 95%;
    position: relative;
    top: -57px;
    left: 600px;
}
.div12 {
    width: 320px;
    height: 20px;
    opacity: 70%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    top: -67px;
    left: 616px;
}
.div13 {
    width: 450px;
    height: 60px;
    background-color:white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    color: mediumorchid;
    position: relative;
    top: -50px;
    left: 550px;
    text-align: center;
    padding-top: 30px;
}
.img1 {
    width: 450px;
    height: 270px;
    border-radius: 7px;
    position: relative;
    top: -90px;
    left: 450px;
}
.flexcon {
    width: 450px;
    height: 100px;
    border-radius: 6px;
    position: relative;
    top: -50px;
    left: 550px;
    background-color: white;
    display: flex;
}
.flex1 {
    width: 62px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    color: #3D087B;
    position: relative;
    top: 40px;
    left: 15px;
    text-align: center;
}
.flex2 {
    width: 62px;
    height: 73px;
    font-size: 25px;
    color: #CB52F8;
    font-family: 'Times New Roman', Times, serif ;
    background-color:#F6E2FF;
    padding-top: 10px;
    position: relative;
    top: 10px;
    left: 30px;
    text-align: center;
}
.flex3 {
    width: 30px;
    height: 40px;
    color: #CB52F8;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 40px;
    position: relative;
    top: 10px;
    left: 30px;
    padding-top: 10px;
    text-align: center;
}
.flex4 {
    width: 62px;
    height: 73px;
    font-size: 25px;
    background-color:#F6E2FF;
    color: #CB52F8;
    font-family: 'Times New Roman', Times, serif ;
    position: relative;
    top: 10px;
    left: 30px;
    padding-top: 10px;
    text-align: center;
}
.flex5 {
    width: 30px;
    height: 40px;
    color: #CB52F8;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 40px;
    position: relative;
    top: 10px;
    left: 30px;
    padding-top: 10px;
    text-align: center;
}
.flex6 {
    width: 62px;
    height: 73px;
    font-size: 25px;
    background-color:#F6E2FF;
    color: #CB52F8;
    font-family: 'Times New Roman', Times, serif ;
    position: relative;
    top: 10px;
    left: 30px;
    padding-top: 10px;
    text-align: center;
}
.flex7 {
    width: 62px;
    height: 73px;
    background-image:linear-gradient(to top ,#CB52F8 40%, #FC5EFF 81%) ;
    font-size: 30px;
    padding-top: 10px;
    color: white;
    position: relative;
    top: 10px;
    left: 60px;
    text-align: center;
}
